<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script type="module" crossorigin src="/assets/index-a31ab2df.js"></script> -->
    <link rel="stylesheet" href="/assets/index-b373dd84.css">
    <title>eV 7393's amogus emporium!</title>
    <link rel='icon' type="image/png" href="/favicon.png">
</head>

<body>
    <div id="app">
        <div class="flex flex-col sm:flex-row m-0 min-h-screen"
            style="background-image: url(&quot;/img/background.png&quot;); background-repeat: repeat-x;">
            <div class="bg-gray-100 dark:bg-gray-800 sm:h-screen p-2 sm:p-0 sticky top-0">
                <div id="menu"
                    class="flex flex-row sm:h-full sm:flex-col self-start space-x-2 sm:space-y-3 sm:mx-6 sm:pt-4"><img
                        src="/img/EV_Logo_2022.png" class="rounded-md w-10 sm:w-40" alt="team">
                    <div class="font-bold w-10 sm:w-auto text-black dark:text-white my-auto">FTC 7393</div>
                    <div class="flex sm:flex-col flex-row space-x-3 sm:space-x-0 w-full mx-0"><a
                            class="transition flex flex-row items-center px-2 sm:px-4 my-1 bg-lmao-yellow dark:text-gray-800 shadow-2xl rounded-md w-full"
                            target="_blank" href="https://ftc7393.org/">
                            <div class="font-bold w-full flex-grow py-2 sm:p-0 text-xl sm:text-2xl">ftc7393.org</div>
                        </a>
                        <a class="transition flex flex-row items-center px-2 sm:px-4 my-1 bg-lmao-yellow dark:text-gray-800 shadow-2xl rounded-md w-full"
                            target="_blank" href="https://github.com/fTC7393/sussy-factory">
                            <div class="font-bold w-full flex-grow py-2 sm:p-0 text-xl sm:text-2xl">source</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="mx-auto">
                <div class="flex flex-col p-4">
                    <div class="font-amogus font-bold text-2xl svelte-1yxjvrb">Sussy Factory</div>
                    <div class="font-medium py-2 text-xl">
                        Coming soon (check back on April 26th): A site where you can customize an among us
                        figurine, and download an STL file to print it yourself.
                    </div>
                    <div class="font-medium">For now, visit FTC 7393's pit area to hopefully get a figurine (while supplies last).</div>
                    <div class="font-medium">Or you can download the source files and print them with no text yet:</div>
                    <div class="font-medium">
                        <a style="color: rgb(59 130 246); text-decoration: underline" target="_blank" href="https://www.thingiverse.com/thing:4963377">simple model</a>
                        &nbsp; &nbsp; &nbsp; &nbsp;
                        <a style="color: rgb(59 130 246); text-decoration: underline" target="_blank" href="https://www.printables.com/model/77879-among-us-easy-printcrewbodyghostimpostor/files">complex multi-part model</a>
                    </div>
                    <br/>
                    <div class="font-medium">Here's a picture of what the app will look like (several modifications are needed from our current app):</div>
                    <img class="rounded" style="border-width: 10px; border-color: salmon; width: max(400px, 50%);" alt="demo image" src="/img/customize-screenshot.png" />
                    <!-- <div class="flex flex-row">
                        <div class="flex flex-col basis-1/2 space-y-3">
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>