<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>eV 7393's amogus emporium!</title>
	  <link rel='icon' type='image/png' href='/favicon.png'>
  </head>
  <body>
    <h1>Login</h1>
    <form action='login' method='POST'>
        <input type='text' name='username' id='username' placeholder='username'/><br/>
        <input type='password' name='password' id='password' placeholder='password'/><br/>
        <input type='submit' name='submit' value='log in'/>
    </form>
    <br/>
    <img style="width: min(90vw, 500px)" alt="card swipe task among us" src="/img/among-us-card-swipe.gif" />
  </body>
</html>
